/* .profileInfoContainer {
  width: 50rem;
  position: relative;
  margin: 0 auto;
}
.ui.buttons.profileButtons {
  position: relative;
  /* left: -4.5rem; */
/*}
.changePassword {
  /* border: 2px solid hotpink; */
/* background-color: #f8f8ff; */
/* padding-bottom: 11.5rem; */
/* margin-bottom: -7rem; */
/*}

.ui.blue.bottom.attached.button.linkedButton {
  width: 15rem;
}
.whiteText {
  color: white;
}
.ui.card > .content.userStats,
.ui.card > .content.userVip {
  border: 1px solid white;
  margin: 1rem 1rem;
  background-color: rgba(71, 8, 119, 0.8);
}
.ui.green.bottom.attached.button.UpdateButton {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ui.bottom.attached.button.deleteButton {
  width: 15rem;
}
.ui.fluid.card.cardContainer {
  background-color: rgba(0, 0, 0, 0.3);
}
.ui.card > .image,
.ui.cards > .card > .image.crowPicture {
  margin-top: 2rem;
}

h1.titleChangePassword {
  padding-top: 2rem;
  color: white;
}

.changePasswordContainer {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}
div.field.loginField {
  width: 50%;
  display: inline-block;
}

.changePasswordField > label {
  float: left;
} */
