.menuContainer {
  position: fixed;
  margin-right: 10%;
  left: -5px;
  padding-top: 10rem;
  top: 0;
  border: 2px solid black;
  background-color: #1b1c1d;
  height: 100vh;
  width: 16rem;
}

.adminhome {
  background-color: #f8f8ff;
  padding-bottom: 8rem;
  margin-bottom: -7rem;
  height: 100%;
}
.containerAdminHome {
  margin-left: 30rem;
  max-width: 60rem;
}
.adminMovieBackdropContainer {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
}

.adminMovieBackdrop {
  height: 100%;
  width: 100%;
}

.purpleBox {
  background-color: #621e96;
  width: 6rem;
  height: 6rem;
  position: relative;
  color: white;
  display: inline-block;
  margin: 0 2.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.purpleBox > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}
.ticket.large.icon.iconPos,
.film.large.icon.iconPos,
.users.large.icon.iconPos,
.chart.bar.large.icon.iconPos,
.archive.large.icon.iconPos {
  text-align: center;
  margin-left: 35%;
  margin-top: 18%;
}

.makeItFloat .bigPicture {
  float: left;
}

.ui.horizontal.list div.item .smallOne {
  position: relative;
  border: 2px solid black;

  padding-left: 20rem;
}

.makeItFloat > .ui.horizontal.list .item .bigPicture {
  padding-left: 7rem;
  width: 50rem;
}

.makeItFloat > .ui.horizontal.list .item .smallPicture {
  float: left;
  margin-top: 1rem;
  background: rgba(98, 30, 150, 1);
}

.makeItFloat .ui.list {
  margin-left: -2rem;
}
