div.containerMovies {
  /* position: relative; */
  margin-left: 285px;
  max-width: 65rem;
}
div.containerAddmovie {
  /* position: relative; */
  margin-left: 285px;
  max-width: 65rem;
}

.crowRating {
  /* border: 1px solid white; */
  font-weight: 400;
  margin-left: 10px;
  min-width: 3rem;
  display: inline-block;
  padding: 1px 10px;
}

.ui.basic.purple.button,
.ui.basic.purple.buttons .button {
  position: relative;
  left: 0;
}
.ui.items > .item {
  width: 100%;
}
.ui.attached.button {
  margin-top: 55px;
  margin-left: 10px;
}
.ui.header {
  padding-left: 15px;
}

.posterImg {
  cursor: pointer;
}
.boldSpan {
  font-weight: 700;
}
.editIcon,
.deleteIcon {
  cursor: pointer;
}

.title {
  color: white;
}

.popup {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border: 1px solid whitesmoke;
  overflow-y: scroll;
  /* padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  position: fixed;
  /* width: 80%;
  height: 70%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid whitesmoke;
  overflow-y: scroll; */
}

.ui.inverted.black.segment {
  position: sticky;
  z-index: 2;
}

.ui.small.image {
  width: 150px;
  height: auto;
  position: relative;
  left: 33rem;
  top: -17rem;
}
.imgPosition {
  margin-left: 10rem;
}
.containerInPopup {
  color: ghostwhite;
  padding-right: 200px;
}

.descriptionContainer {
  /* margin-right: 50px; */
  width: 60rem;
  position: relative;
  left: 0;
  /* float: left;   */
}
p.description {
  width: 50rem;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

[contenteditable="true"]:focus > style {
  display: block;
}
.ui.attached.buttons .button {
  padding: 10px 5px;
  left: 4%;
  position: relative;
}
.imageBorder {
  border: 1px solid whitesmoke;
  float: right;
}
