div.containerMembers {
  /* position: relative; */
  margin-left: 30rem;
  max-width: 60rem;
}
div.members {
  background-color: #f8f8ff;
  padding-bottom: 8rem;
  margin-bottom: -7rem;
}
.userIconPointer {
  cursor: pointer;
}

.loadMoreBtnContainer {
  /* border: 2px solid purple; */
  text-align: center;
  margin-left: 10rem;
}
h1.title {
  padding-top: 2rem;
  color: black;
}
.ui.input.userSearch {
  width: 40rem;
}

.userPopup {
  padding: 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  /* position: absolute; */
  width: 100%;
  height: 90%;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border: 1px solid whitesmoke;
  overflow-y: scroll;
}
.ui.bottom.attached.button.deleteButton {
  /* margin-left: 5rem; */
  width: 15rem;
}
.ui.green.bottom.attached.button.updateButton {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ui.bottom.attached.button.closeButton {
  width: 15rem;
}

.popupUser {
  overflow-y: scroll;
  position: fixed;
  padding-top: 0.5rem;

  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.ui.small.modal.transition.visible.active.confirmDeleteUser
  button.ui.primary.button {
  float: left;
  background: red;
}
